
# Ignore config files
*.development.json
*.production.json

# Ignore build files 
build/
dist/
bin/

# Ignore mac files
.DS_Store

# Ignore executables
gobank
*.exe
*.out
*.dll
*.APP

# Ignore env files
.env.dev
.env.prod
.env.*.postgres